html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* *:before *:after  {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

header {
    border-bottom: 2px solid gray;
    width: 100%;
}

#core {
    margin: 10px 0 0 10px;
}

#logo {
    height: 40px;
    width: auto;
    display: inline-block;
}

.ctrl {
    display: inline-block;
    padding-bottom: 5px;
}

#follow {
    position: fixed;
    background-color: white;
    width: 100%;
}

nav {
    padding-top: 70px;
}

#search {
    height: 40px;
    width: 800px;
    border-radius: 50px;
    border: 2px solid #dbdbdb;
}

input[type=text] {
    padding-left: 10px;
}

input[type=image] {
    position: relative;
    right: 40px;    
}

ul, ol {
    list-style-type: none;
}

a, a:hover {
    text-decoration: none;
}

nav li {
    display: inline;
}

.right {
    float: right;
}

.mglass {
    height: auto;
    width: 10px;
}

.primary {
    border: 1px solid gray;
    display: inline-block;
    height: fit-content;
    width: fit-content;
}

.site {
    padding: 5px 10px;
    height: fit-content;
    width: fit-content;
    display: inline-block;
}

.site h3 {
    color: blue;
    font-size: 1.5em;
}

.result {
    width: 800px;
}

.sugg {
    border: 1px solid gray;
}

.related {
    display: inline-block;
}