* *:before *:after  {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

header {
    border-bottom: 2px solid gray;
    width: 100%;
}

ul, ol {
    list-style-type: none;
}

a, a:hover {
    text-decoration: none;
}

nav li {
    display: inline;
}

.right {
    float: right;
}

.mglass {
    height: auto;
    width: 10px;
}

.primary {
    border: 1px solid gray;
    display: inline-block;
    height: fit-content;
    width: fit-content;
}

.site {
    padding: 5px 10px;
    height: fit-content;
    width: fit-content;
    display: inline-block;
}

.blurb {
    width: 800px;
}